/* Overall styles */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #111;
}

/* Announcement banner styles */
.announcement-banner {
    background: #000;
    color: #fff;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.announcement-banner p {
    display: inline-block;
    padding-left: 100%;
    animation: slide 15s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Header styles */
header {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('imgs/rolls background.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
}

.header-content {
    position: relative;
    z-index: 2;
}

header img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section and other styles */
section {
    padding: 4rem 2rem;
    text-align: center;
}

#home, #menu, #about, #contact {
    background: #000;
}

.call-button {
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.call-button:hover {
    background-color: #660000;
}

.call-button:active {
    background-color: #4d0000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.menu-item {
    background: #000;
    padding: 1rem
